.historyCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    border-radius: 15px;

    background-color: rgb(1, 47, 108);
}

.historyCard__information {
    /* margin: 10px; */
    padding: 10px 20px;
}

.historyCard__information_date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
}

.historyCard__information_amount {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
}

.historyCard__photo_container {
    /* margin: 10px; */
    padding: 10px 20px;
}

.historyCard__photo_container_photo {
    border-radius: 15px;
    height: 80px;
    width: 80px;
}

.historyCard__cropButton {
    background: linear-gradient(135deg, #d0dbff, #c5b8d5);
    color: rgb(1, 47, 108);
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.historyCard__cropButton:hover {
    background: linear-gradient(135deg, #c5b8d5, #d0dbff);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    color: rgb(1, 47, 118);
}

.historyCard__cropButton:active {
    background: linear-gradient(135deg, #d0dbff, #c5b8d5);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
    color:rgb(1, 47, 108);
}

