.image {
    max-width: 100%;  /* Устанавливает максимальную ширину изображения в 100% от контейнера */
    height: auto;     /* Высота автоматически пропорциональна ширине */
    border: 1px solid #ccc; /* Для добавления границы вокруг изображения */
    border-radius: 8px; /* Округление углов изображения */
    display: block;   /* Убирает возможные пробелы вокруг изображения */
    margin: 0 auto;   /* Центрирование изображения по горизонтали */
}